<launch>
    <!-- 启动base.launch文件 -->
    <!-- Launch the base.launch file -->
    <include file="$(find transbot_laser)/launch/base.launch"/>
    <!-- 启动激光雷达避障节点 -->
    <!-- Activate lidar obstacle avoidance node -->
    <node name='laser_Wall' pkg="transbot_laser" type="laser_Wall_360.py" required="true" output="screen"/>
</launch>
